.inner
	max-width: 1200px
	padding: 0 10px
	margin: 0 auto
	
.header
	padding: 60px 0 0
	position: absolute
	left: 0
	right: 0
	top: 0
	z-index: 2
	&__in
		display: flex
		flex-wrap: wrap
		flex-direction: row
		justify-content: space-between
		align-items: center
		
.logo
	+hide-text
	background: url(../img/logo.svg) no-repeat center
	background-size: contain
	width: 180px
	padding: 85px 0 0

.nav
	display: flex
	&__link
		padding: 10px 28px
		display: block
		font-family: 'Open Sans Semibold', sans-serif
		transition: color 0.25s
		position: relative
		overflow: hidden
		&:after
			content: ''
			display: block
			left: 28px
			bottom: 4px
			width: calc(100% - 56px)
			height: 2px
			background-color: $red
			position: absolute
			transform: scaleX(0)
			transition: transform 0.25s
		&:hover
			color: $red
			&:after
				transform: scaleX(1)
		&:last-of-type
			padding: 10px 0 10px 28px
			&:after
				right: 0
				width: calc(100% - 28px)

.company
	background-color: #041517
	position: relative
	.inner
		height: 100vh
		min-height: 700px
		display: flex
		flex-direction: column
		justify-content: center
		
.company-content
	padding: 264px 0 0
	&__title
		color: $white
		font-size: 46px
		line-height: 1.25
	&__btn
		padding: 55px 0 0
	&__bottom
		padding: 22px 0 0
		color: $gray-th
	&__scroll-btn
		padding: 60px 0 0 
	&__txt
		&_position
			position: relative
			z-index: 1
	&__info
		padding: 40px 0
		position: relative
		z-index: 1
		display: inline-block
		cursor: pointer
		color: $gray-th
		
.services
	padding: 50px 0
	background-color: $white
	position: relative
	.title
		color: $black
		
.services-list
	padding: 70px 0
	display: flex
	flex-wrap: wrap
	justify-content: space-between
	position: relative
	&__item
		width: 32%
		min-height: 456px
		+md
			width: 49%
			margin: 2% 0 0
		+sm
			width: 100%
			min-height: auto
			margin: 20px 0 0

.services-cont
	font-size: 16px
	line-height: 1.75
	color: $gray-secondary
	&__top
		margin: 20px 0 0
	&__body
		display: none
	&__bottom
		margin: 26px 0 0
	&__more
		margin: 30px auto 0
		
.s-item
	background-color: $white
	padding: 18px 18px 30px
	box-shadow: 0px 10px 40px $gray-th
	transition: box-shadow 0.25s
	border-radius: 3px
	cursor: pointer
	&:hover
		box-shadow: 0px 15px 50px darken($gray-th, 10%)
	&__ico
		width: 160px
		height: 160px
		margin: auto
	&__title
		margin: 8px 0 0
		font: 20px/26px 'Open Sans Bold', sans-serif
		color: #4f4f4f
		min-height: 78px
	&__txt
		margin: 26px 0 0
		color: $gray-secondary
		font: 18px/28px 'Open Sans Regular', sans-serif
		
.products
	padding: 130px 0 170px
	background-color: $red

.products-list
	padding: 70px 0 0
	display: flex
	flex-wrap: wrap
	justify-content: space-between
	&__item
		width: 47%

.p-item
	background-color: $white
	text-align: left
	padding: 45px 54px
	&__title
		color: $red
		font: 22px 'Open Sans Bold', sans-serif
	&__txt
		margin: 20px 0 0
		font: 400 18px/28px Arial, sans-serif

.contact
	padding: 150px 0
	position: relative
	&:before
		content: ''
		display: block
		position: absolute
		left: 0
		top: 0
		right: 0
		height: 315px
		background: url(../img/contact-bg.svg) no-repeat top center
		background-size: cover
		z-index: -1
	&:after
		content: ''
		display: block
		position: absolute
		left: 0
		right: 0
		top: 300px
		bottom: 0
		z-index: -1
		background-color: $white 
	&__in
		max-width: 505px
	.title
		color: $black
	
.form
	padding: 50px 0 0
	&__row
		&:not(:first-of-type)
			margin: 20px 0 0
	&__btn
		margin: 50px 0 0

#particles-js
	position: absolute
	top: 0
	left: 0
	width: 100%
	height: 100%
	z-index: 0

.popup
	position: fixed
	top: 0
	right: 0
	left: 0
	bottom: 0
	overflow-x: hidden
	overflow-y: auto
	border-radius: 3px
	background-color: $white
	z-index: 100
	opacity: 0
	visibility: hidden
	transition: opacity 0.25s
	box-shadow: 0px 10px 40px #d9d9d9
	text-align: left
	&__in
		max-width: 1200px
		margin: 0 auto
		padding: 125px 10px
	&__title
		color: $black
	&__text
		margin: 70px 0 0
		font: 400 18px/1.75 'Open Sans Regular', sans-serif
		color: $gray-secondary
	&.is-active
		opacity: 1
		visibility: visible