.out
	min-height: 320px
	overflow: hidden

.inner
	max-width: 1220px
	padding: 0 20px
	margin: 0 auto
	
.header
	padding: 20px 0 0
	position: absolute
	left: 0
	right: 0
	top: 0
	z-index: 2
	&__in
		display: flex
		flex-wrap: wrap
		flex-direction: row
		justify-content: space-between
		align-items: center
		
.logo
	+hide-text
	background: url(../img/logo.svg) no-repeat center
	background-size: contain
	width: 76px
	padding: 120px 0 0
	+md
		width: 60px
		padding: 80px 0 0
	+sm
		width: 40px
		padding: 60px 0 0

.nav
	display: flex
	&__link
		padding: 10px 28px
		display: block
		font-family: 'Open Sans Semibold', sans-serif
		transition: color 0.25s
		position: relative
		overflow: hidden
		+sm
			padding: 10px
			font-size: 16px
		+xs
			font-size: 12px
			padding: 5px 10px
		&:after
			content: ''
			display: block
			left: 28px
			bottom: 4px
			width: calc(100% - 56px)
			height: 2px
			background-color: $red
			position: absolute
			transform: scaleX(0)
			transition: transform 0.25s
		&:hover
			color: $red
			&:after
				transform: scaleX(1)
		&:last-of-type
			padding: 10px 0 10px 28px
			+sm
				padding: 10px 0 0 10px
			+xs
				padding: 5px 0 10px 5px
			&:after
				right: 0
				width: calc(100% - 28px)

.company
	background-color: #041517
	position: relative
	&__in	
		height: 100vh
		min-height: 750px
		display: flex
		flex-direction: column
		justify-content: center
		+md
			min-height: 600px
		+sm
			min-height: auto
			height: auto
		
.company-content
	padding: 264px 0 60px
	+sm
		padding: 150px 0 20px 
	&__title
		color: $white
		line-height: 1.25
	&__btn
		padding: 55px 0 0
		position: relative
		z-index: 30 
		+sm
			padding: 30px 0 0
	&__bottom
		padding: 22px 0 0
		color: $gray-th
	&__scroll-btn
		padding: 60px 0 0
		position: relative
		z-index: 15
		+md
			padding: 20px 0 0
	&__txt
		&_position
			position: relative
			z-index: 1
	&__info
		padding: 10px 0
		margin: 30px 0 0
		position: relative
		z-index: 1
		display: inline-block
		cursor: pointer
		color: $gray-th
		position: relative
		z-index: 3
		cursor: pointer
		+md
			margin: 10px 0 0
		&:after
			content: ''
			display: block
			position: absolute
			left: 0
			right: 0
			top: 100%
			height: 1px
			background-color: $red
			opacity: 1
			margin: -8px 0 0
			transition: opacity 0.25s
		&:hover
			&:after
				opacity: 0
		
.services
	padding: 50px 0
	background-color: $white
	position: relative
	&:before
		content: ''
		display: block
		position: absolute
		left: 50%
		top: -100px
		transform: translateX(-50%)
		width: 10000px
		height: 615px
		background: url(../img/services-bg-top.svg) no-repeat center
		background-size: contain
		z-index: 2
		+md
			display: none
	&:after
		content: ''
		display: block
		position: absolute
		left: 50%
		top: 100%
		margin: -50px 0 0
		transform: translateX(-50%)
		width: 10000px
		height: 228px
		background: url(../img/services-bg-bottom.svg) no-repeat center
		+md
			display: none
	&__in
		position: relative
		z-index: 2
	&__title
		color: $black
		
.services-list
	padding: 70px 0
	display: flex
	flex-wrap: wrap
	justify-content: space-between
	position: relative
	+md
		padding: 40px 0 10px
	&__item
		width: 32%
		min-height: 456px
		+md
			width: 49%
			margin: 2% 0 0
		+sm
			width: 100%
			min-height: auto
			margin: 20px 0 0

.services-cont
	font-size: 16px
	line-height: 1.75
	color: $gray-secondary
	position: relative
	&__top
		margin: 20px 0 0
	&__body
		display: none
	&__bottom
		margin: 26px 0 0
	&__more
		margin: 30px auto 0
		
.s-item
	background-color: $white
	padding: 18px 18px 30px
	box-shadow: 0px 10px 40px $gray-th
	transition: box-shadow 0.25s
	border-radius: 3px
	cursor: pointer
	&:hover
		box-shadow: 0px 15px 50px darken($gray-th, 10%)
	&__ico
		width: 160px
		height: 160px
		margin: auto
	&__title
		margin: 8px 0 0
		font: 20px/26px 'Open Sans Bold', sans-serif
		color: #4f4f4f
		min-height: 78px
		+md
			font-size: 18px
			line-height: 1.4
	&__txt
		margin: 26px 0 0
		color: $gray-secondary
		font: 18px/28px 'Open Sans Regular', sans-serif
		+md
			font-size: 16px
			line-height: 1.4
			
.i-provides
	width: 107px
	padding: 120px 0 0
	background: url(../img/ico1.svg) no-repeat center
	background-size: contain
	display: inline-block
	vertical-align: top
.i-competences
	width: 107px
	padding: 131px 0 0
	background: url(../img/ico2.svg) no-repeat center
	background-size: contain
	display: inline-block
	vertical-align: top
.i-technical
	width: 96px
	padding: 116px 0 0
	background: url(../img/ico3.svg) no-repeat center
	background-size: contain
	display: inline-block
	vertical-align: top
		
.products
	padding: 130px 0 170px
	background-color: $red
	+md
		padding: 50px 0

.products-list
	padding: 70px 0 0
	display: flex
	flex-wrap: wrap
	justify-content: space-between
	+md
		padding: 25px 0 0
	&__item
		width: 47%
		+md
			width: 49%
		+sm
			width: 100%
			&:not(:first-of-type)
				margin: 20px 0 0

.p-item
	background-color: $white
	text-align: left
	padding: 45px 54px
	+md
		padding: 30px 40px
	&__title
		color: $red
		font: 22px 'Open Sans Bold', sans-serif
	&__txt
		margin: 20px 0 0
		font: 400 18px/28px Arial, sans-serif

.contact
	padding: 150px 0
	position: relative
	+md
		padding: 50px 0 70px
		background-color: $white 
	&:before
		content: ''
		display: block
		position: absolute
		left: 0
		top: 0
		right: 0
		height: 315px
		background: url(../img/contact-bg.svg) no-repeat top center
		background-size: cover
		z-index: -1
		+md
			display: none
	&:after
		content: ''
		display: block
		position: absolute
		left: 0
		right: 0
		top: 300px
		bottom: 0
		z-index: -1
		background-color: $white 
		+md
			display: none
	&__in
		max-width: 505px
	&__title
		color: $black
	
.form
	padding: 50px 0 0
	+md
		padding: 25px 0 0
	&__row
		position: relative
		&:not(:first-of-type)
			margin: 20px 0 0
			+md
				margin: 40px 0 0
	&__btn
		margin: 50px 0 0
	label
		&[id*="_contact-error"]
			position: absolute
			left: 100%
			top: 50%
			margin: 0 0 0 20px
			transform: translateY(-50%)
			white-space: nowrap
			font: 16px 'Open Sans Regular', sans-serif
			color: $error
			+md
				transform: none
				top: auto
				bottom: 100%
				left: auto
				right: 0
				margin: 0 0 5px 0
#particles-js
	position: absolute
	top: 0
	left: 0
	width: 100%
	height: 100%
	z-index: 0

.popup
	position: fixed
	top: 0
	right: 0
	left: 0
	bottom: 0
	overflow-x: hidden
	overflow-y: auto
	border-radius: 3px
	background-color: $white
	z-index: 100
	opacity: 0
	visibility: hidden
	transition: opacity 0.25s
	box-shadow: 0px 10px 40px #d9d9d9
	text-align: left
	&__in
		max-width: 1200px
		margin: 0 auto
		padding: 125px 10px
		+md
			padding: 50px 10px
	&__title
		color: $black
	&__text
		margin: 70px 0 0
		font: 400 18px/1.75 'Open Sans Regular', sans-serif
		color: $gray-secondary
		+md
			font-size: 16px
			margin: 30px 0 0
	&.is-active
		opacity: 1
		visibility: visible