<!-- BEGIN about -->
<div class="about" data-section="about">
	<div class="about__in">
		<div class="columns">
			<div class="columns__left wow fadeInDown" data-wow-duration="1.5s" data-wow-delay="0.4s">
				Angaben gemäß § 5 TMG <br>
				<br>
				<strong>Applied Methods GmbH</strong><br>
				<strong>Münchner Str. 7</strong><br>
				<strong>85614 Kirchseeon</strong> <br>
				Tel.: <a href="tel:+49 176 65 0330 85" class="columns__link">+49 176 65 0330 85</a><br>
				E-Mail: <a href="mailto:vitaliy.zhovtyuk@appliedmethods.biz" class="columns__link">vitaliy.zhovtyuk@appliedmethods.biz</a><br>
			</div>
			<div class="columns__right wow fadeInUp" data-wow-duration="1.5s" data-wow-delay="0.4s">
				Vertreten durch:<br>
				<strong>Vitaliy Zhovtyuk</strong><br>
				<br>
				Registereintrag:<br>
				<strong>Eintragung im Handelsregister.</strong><br>
				Registergericht: <strong>München</strong><br>
				Registernummer: <strong>239785</strong><br>
			</div>
		</div>
	</div>
</div>
<!-- END about -->