<!-- BEGIN company -->
<section class="company" data-section="company">
	<div class="company__in inner">
		<!-- BEGIN company-content -->
		<div class="company-content">
			<h1 class="company-content__title title wow fadeInUp" data-wow-duration="2s">
				APPLIED METHODS passt seine Entwicklungsprozesse flexibel an die Kundenbedürfnisse an
			</h1>
			<div class="company-content__btn wow fadeInUp" data-wow-duration="2s" data-wow-delay="0.5s">
				<a href="#contact" class="btn btn_position js-btn-scroll">Impressum</a>
			</div>
			<div class="company-content__bottom wow fadeInUp" data-wow-duration="2s" data-wow-delay="1s">
				<span class="company-content__txt company-content__txt_position">Zögern Sie nicht uns unverbindlich zu kontaktieren.</span>
			</div>
			<div class="company-content__scroll-btn wow fadeInDown" data-wow-duration="2s" data-wow-delay="1.5s">
				<a href="#services" class="btn-scroll btn-scroll_position js-btn-scroll" title="Scroll to bottom">
					<span class="btn-scroll__ico">Scroll to bottom</span>
				</a>
			</div>
			<div class="company-content__info wow fadeInUp" data-wow-duration="2s" data-wow-delay="2s">
				<span class="company-content__info-section js-open-popup" data-link="company">Über das Unternehmen</span>
			</div>
		</div>
		<!-- END company-content -->
	</div>

	<!-- BEGIN particles-js -->
	<div id="particles-js"></div>
	<!-- END particles-js -->

</section>
<!-- END company -->