<!-- BEGIN header -->
<header class="header js-header">
	<div class="header__in inner">
		<a href="/am/index-de.html" class="logo" title="Applied Methods">applead methods</a>
		<nav class="nav">
			<a href="#services" class="nav__link js-nav-link">Dienstleistungen</a>
			<a href="#products" class="nav__link js-nav-link">Produkte</a>
			<a href="#contact" class="nav__link js-nav-link">Impressum</a>
		</nav>
		<div class="lang">
			<span class="lang__current">De<img src="img/de.svg" width="30" height="20" alt="" /></span>
			<ul class="lang__list">
				<li class="lang__list-item">
					<a href="./index-en.html">Gbr  <img src="img/gbr.svg" width="30" height="20" alt="" /></a>
				</li>
			</ul>
		</div>
	</div>
</header>
<!-- END header -->
