<!-- BEGIN popup -->
<div class="popup js-popup" data-popup="service-1">
	<button type="button" class="btn-close js-close">close {{mixins.icon('close')}}</button>
  <div class="popup__in">
    <div class="popup__title title">Wir bieten die folgenden spezifischen Fähigkeiten:</div>
    <div class="popup__text">
      Team von Analysten und Projektmanagern, die in der Lage sind, Kundenanforderungen (geschäftlich und technisch) zu erfassen und entsprechende technische Prozesse nach bekannten Praktiken von Agile (Scrum, XP, Lean) und weiteren formalen Prozessen (RUP, ITIL) zu erstellen (Wirtschaft und Technik) mit maximaler Transparenz, Produktivität und Qualität.<br><br>

      Team von Analysten und Projektmanagern, die in der Lage sind, Kundenanforderungen (geschäftlich und technisch) zu erfassen und entsprechende technische Prozesse nach bekannten Praktiken von Agile (Scrum, XP, Lean) und weiteren formalen Prozessen (RUP, ITIL) zu erstellen (Wirtschaft und Technik) mit maximaler Transparenz, Produktivität und Qualität.
      Engagiertes, handhabbares Team von Software-Ingenieuren, die genau den Projektanforderungen in Fertigkeiten und Arbeitskräften entsprechen.<br><br>

      Versionskontrolle und regelmäßige Auslieferung von Zwischenergebnissen inklusive produziertem Quellcode.      
    </div>
  </div>
</div>
<!-- END popup -->

<!-- BEGIN popup -->
<div class="popup js-popup" data-popup="service-2">
	<button type="button" class="btn-close js-close">close {{mixins.icon('close')}}</button>
  <div class="popup__in">
    <div class="popup__title title">Die wichtigsten Kompetenzen von Escalibre in der Softwareentwicklung sind:</div>
    <div class="popup__text">
      Entwicklung von Web- und Desktop-Anwendungen für Windows- und Unix-Umgebungen mit einer Vielzahl von auf dem Markt erhältlichen Technologien und Tools: Java, PHP / Python, .Net, DHTML / AJAX<br><br>
      Mobile Anwendungsentwicklung einschließlich dedizierter mobiler Funktionen wie NFC, GPS, IR, Messaging<br><br>
      Datenerfassung, -verarbeitung (ETL / OLAP / OLTP), Analyse und Präsentation (BI, Custom Reporting) basierend auf wichtigen kommerziellen und Open-Source-DBMS wie MS-SQL Server, Oracle Server, PostgreSQL, MySQL und so weiter<br><br>
      Distributed systems Entwicklung (Messaging Hubs, Events und Workflows Managementsysteme, Kommunikationsbusse)<br><br>
      Entwicklung von SOAP und RESTful Web Services<br><br>
      Entwicklung von Infrastruktur-Software (Daten-Feeder, Konverter, OS-Skripte)<br><br>
      Programmierung auf Kommunikationsprotokoll Ebene, benutzerdefinierte und bekannte Format-Parser-Entwicklung (Bildgebung, Dokumentierung)
    </div>
  </div>
</div>
<!-- END popup -->

<!-- BEGIN popup -->
<div class="popup js-popup" data-popup="service-3">
	<button type="button" class="btn-close js-close">close {{mixins.icon('close')}}</button>
  <div class="popup__in">
    <div class="popup__title title">Architekturberatung (Service Orchestrierung, Microservices und Domain-Design, SOA, Event-Sourcing, n-tiered Plattformen):</div>
    <div class="popup__text">
      Unternehmens Intranet-Portale<br><br>
      E-Commerce Unternehmenslösungen (Online Shops, Auktionen, Dating, Vergleichsportale, Social Networks)<br><br>
      Integration der Zahlungssysteme<br><br>
      Entwicklung von Informationssystemen für Versicherungs- und Kreditzweige<br><br>
      ERP-Systementwicklung<br><br>
      Rich Internet-Anwendungen mit (JSF, Angularjs, Jquery, Bootstrap)<br><br>
      Systemüberwachung und -optimierung<br><br>
      Anwendungsserver-Beratung (JBoss, Glassfish, Payara)<br><br>
      Agiles Projektmanagement mit Scrum, Kanban und XP<br><br>
      Anforderungsplanung und -klärung<br><br>
      Offshore und Onshore Team-Management und Zusammenarbeit
    </div>
  </div>
</div>
<!-- END popup -->

<!-- BEGIN popup -->
<div class="popup js-popup" data-popup="company">
  <button type="button" class="btn-close js-close">close {{mixins.icon('close')}}</button>
  <div class="popup__in">
    <div class="popup__title title">Unternehmen</div>
    <div class="popup__text">
      Applied Methods LLC wurde im Jahre 2016 gegründet. Wir sind ein Software-Entwicklungsunternehmen mit Niederlassungen in der Ukraine (Kiew) und Deutschland (München).<br><br>

      Wir sind spezialisiert auf die Erstellung hochwertiger Unternehmens IT-Systeme, Requirements Engineering und technische Beratung. Unsere Dienstleistungen umfassen auch die Software-Entwicklung, Wartung und Qualitätssicherung für kundenspezifische Projekte oder in einem Team-Augmentierung Geschäftsmodell.<br><br>

      Unsere Team-Mitglieder sind Profis mit einer großen Erfahrung in der Programmierung, IT-Management, Produkt-Design und Business-Analyse.<br><br>

      Unabhängig davon ob Sie ein kleines Startup oder ein großes Unternehmen sind, seien Sie sicher, dass Sie einen individuellen Ansatz bei der Lösung Ihrer Aufgaben erhalten - von der Vor-Projekt-Konsultationen zur weiteren Unterstützung und Entwicklung Ihres Produkts.
    </div>
  </div>
</div>
<!-- END popup -->