<!-- BEGIN products -->
<section class="products" data-section="products">
	<div class="inner">
		<h2 class="title wow fadeInDown" data-wow-duration="1.2s" data-wow-delay="0.2">Produkte</h2>
		<div class="products-list">
			<div class="products-list__item p-item wow fadeInDown" data-wow-duration="2s" data-wow-delay="0.4s">
				<div class="p-item__title">Taber</div>
				<div class="p-item__txt">
					Dokument Erkennung und Inhaltsextraktionslösung zur Erkennung und Erkennung von Tabellen. Taber verwendet OCR und Bilder aus PDF (Dateien) und konvertiert sie in formatierten Text (RTF, HTML); Erkennt Tabellen im manuellen oder automatischen Modus.
				</div>
			</div>
			<div class="products-list__item p-item wow fadeInUp" data-wow-duration="2s" data-wow-delay="0.4s">
				<div class="p-item__title">Katran</div>
				<div class="p-item__txt">
					Web-Crawler-Lösung und Verarbeitung von NLP-Pipelines, AngularJs und ReactJs Crawling-Unterstützung
				</div>
			</div>
		</div>
	</div>
</section>
<!-- END products -->