<!-- BEGIN services -->
<section class="services" data-section="services">
	<div class="services__in inner">
		<h2 class="services__title title wow fadeInDown" data-wow-duration="2s" data-wow-delay="0.5s">Dienstleistungen</h2>

		<!-- BEGIN services-cont -->
		<div class="services-cont">
			<div class="services-cont__top wow fadeInUp" data-wow-duration="4s" data-wow-delay="0.2s">
				Escalibre ist ein zuverlässiger IT-Partner bei der Entwicklung geschäftskritischer IT-Lösungen mit einem Schwerpunkt auf Software und damit verbundener IT-Infrastruktur. für die Bereitstellung von Lösungen, die die Effektivität der IT-Infrastruktur steigern können, bietet Escalibre folgende Services an:
			</div>
			<div class="services-cont__body">
				<ul class="services-cont__list">
					<li class="services-cont__list-item">IT-Lösungen</li>
					<li class="services-cont__list-item">Kundenspezifische Softwareentwicklung</li>
					<li class="services-cont__list-item">Erweiterung Ihres IT-Teams</li>
					<li class="services-cont__list-item">Software Qualitätssicherung</li>
				</ul>
				<div class="services-cont__bottom">
					Unterstützung und Wartung von IT-Produkten und zugehöriger Infrastruktur
					Wir sprechen die gleiche Sprache wie unsere Kunden und sind immer auf Kundenanforderungen fokussiert. Deshalb ist Escalibre sowohl in der Zusammenarbeit als auch in der Technologiebranche effekiv.
					Escalibre passt seine Entwicklungsprozesse flexibel an die Kundenbedürfnisse an.
				</div>
			</div>

			<a href="#" class="services-cont__more btn-more js-btn-more wow fadeInUp" data-wow-duration="2s" data-wow-delay="0.8s" data-text="Lese weniger">Weiterlesen</a>
		</div>
		<!-- END services-cont -->

		<div class="services-list">
			<div class="services-list__item s-item wow fadeIn js-open-popup" data-link="service-1" data-wow-duration="1.2s" data-wow-delay="1.2s">
				<div class="s-item__ico">
					{{mixins.svgService("provides")}}
				</div>
				<div class="s-item__title">
					Wir bieten die <br>  folgenden spezifischen <br>  Fähigkeiten:
				</div>
				<div class="s-item__txt">
					Engagiertes, handhabbares Team von Software-Ingenieuren, die genau den Projektanforderungen in Fertigkeiten und Arbeitskräften entsprechen.
				</div>
			</div>
			<div class="services-list__item s-item wow fadeIn js-open-popup" data-link="service-2" data-wow-duration="1.2s" data-wow-delay="1.2s">
				<div class="s-item__ico">
					{{mixins.svgService("competences")}}
				</div>
				<div class="s-item__title">
					Die wichtigsten Kompetenzen <br> von Escalibre in der <br> Softwareentwicklung sind:
				</div>
				<div class="s-item__txt">
					Mobile Anwendungsentwicklung einschließlich <br> dedizierter mobiler Funktionen <br> wie NFC, GPS, IR, Messaging
				</div>
			</div>
			<div class="services-list__item s-item wow fadeIn js-open-popup" data-link="service-3" data-wow-duration="1.2s" data-wow-delay="1.2s">
				<div class="s-item__ico">
					{{mixins.svgService('technical')}}
				</div>
				<div class="s-item__title">
					Unsere technischen <br> Kernkompetenzen <br> sind:
				</div>
				<div class="s-item__txt">
					Architekturberatung (Service Orchestrierung, Microservices und domain-driven Design, SOA, Event Sourcing, n-tiered Plattformen)
				</div>
			</div>
		</div>
	</div>
</section>
<!-- END services -->