<!-- BEGIN top -->
<section class="top" data-section="top">

	{# Start header #}

	{% set config = {
		dropdown: {
			currentLangText: 'De',
			currentLangImage: 'de.svg',
			langList: {
					langLinkHref: 'about-us-en.html',
					langName: 'Gbr',
					langImage: 'gbr.svg'
				}
		},
		list: [
			{
				linkHref: './index-de.html#services',
				linkText: 'Dienstleistungen'
			},
			{
				linkHref: './index-de.html#products',
				linkText: 'Produkte'
			},
			{
				linkHref: '#about',
				linkText: 'Impressum'
			},
			{
				linkHref: './index-de.html#contact',
				linkText: 'Kontakt'
			}
		]
	}%}

	{{mixins.header(config)}}

	{# END header #}

	
	<div class="top__in inner">
		
		<!-- BEGIN top-content -->
		<div class="top-content">
			<h1 class="top-content__title title wow fadeInUp" data-wow-duration="2s">
				Impressum
			</h1>
			<div class="top-content__scroll-btn wow fadeInDown" data-wow-duration="2s" data-wow-delay="0.2s">
				<a href="#about" class="btn-scroll btn-scroll_position js-btn-scroll" title="Scroll to bottom">
					<span class="btn-scroll__ico">Scroll to bottom</span>
				</a>
			</div>
		</div>
		<!-- END top-content -->
	</div>

	<!-- BEGIN particles-js -->
	<div id="particles-js"></div>
	<!-- END particles-js -->

</section>
<!-- END top -->