---
title: Applied Methods
---
{% extends "layouts/_layout.html" %}

{% block content %}

	<!-- BEGIN header -->
	<header class="header">
		<div class="inner">
			<a href="#" class="logo" title="Applied Methods">applead methods</a>
			<nav class="nav">
				<a href="#" class="nav__link">Company</a>
				<a href="#" class="nav__link">Products</a>
				<a href="#" class="nav__link">Services</a>
				<a href="#" class="nav__link">Contact us</a>
			</nav>
		</div>
	</header>
	<!-- END header -->
	
	<!-- BEGIN company -->
	<section class="company">
		<div class="inner">
			<!-- BEGIN company-content -->
			<div class="company-content">
				<h1 class="company-content__title">
					APPLIED METHODS flexibly adapts its development processes to customer requirements
				</h1>
				<div class="company-content__btn">
					<a href="#" class="btn">Contact Us</a>
				</div>
				<div class="company-content__bottom">
					<span class="company-content__txt">Don’t hesitate to contact us.</span>
				</div>
			</div>
			<!-- END company-content -->
			<a href="#" class="btn-scroll js-btn-scroll" title="Scroll to bottom">
				Scroll to bottom
				{{mixins.icon('arrow-bottom')}}
			</a>
		</div>
	</section>
	<!-- END company -->

	<!-- BEGIN services -->
	<section class="services">
		<div class="inner">
			<h2 class="title">Services</h2>
			<div class="services-list">
				<div class="services-list__item s-item">
					<div class="s-item__ico">
						<img src="img/ico1.png" alt="">
					</div>
					<div class="s-item__title">
						Escalibre provides the <br> following specific <br> capabilities:
					</div>
					<div class="s-item__txt">
						Dedicated manageable team of software engineers, which exactly match project needs in skills and manpower.
					</div>
				</div>
				<div class="services-list__item s-item">
					<div class="s-item__ico">
						<img src="img/ico2.png" alt="">
					</div>
					<div class="s-item__title">
						Key competences of Escalibre <br> in software development are <br> the following:
					</div>
					<div class="s-item__txt">
						Mobile applications development including dedicated mobile <br> features like NFC, GPS, IR, <br> messaging
					</div>
				</div>
				<div class="services-list__item s-item">
					<div class="s-item__ico">
						<img src="img/ico3.png" alt="">
					</div>
					<div class="s-item__title">
						Our core technical <br> competences are:
					</div>
					<div class="s-item__txt">
						Architecture consulting (service orchestration, microservices and domain-driven design, SOA, event sourcing, n-tiered platforms)
					</div>
				</div>
			</div>
		</div>
	</section>
	<!-- END services -->
	
	<!-- BEGIN products -->
	<section class="products">
		<div class="inner">
			<h2 class="title">Products</h2>
			<div class="products-list">
				<div class="products-list__item p-item">
					<div class="p-item__title">Taber</div>
					<div class="p-item__txt">
						Document recognition and content extraction solution to detect and recognize(for detecting and recognizing) Tables.
					</div>
				</div>
				<div class="products-list__item p-item">
					<div class="p-item__title">Katran</div>
					<div class="p-item__txt">
						Web crawler solution and processing NLP pipelines, AngularJs and ReactJs crawling support
					</div>
				</div>
			</div>
		</div>
	</section>
	<!-- END products -->

	<!-- BEGIN contact -->
	<section class="contact">
		<div class="inner">
			<h2 class="title">Contact us</h2>
			<div class="form">
				<form action="/" method="post">
					<div class="form__row"><input type="text" class="input"></div>
					<div class="form__row"><input type="text" class="input"></div>
					<div class="form__row"><input type="text" class="input"></div>
					<div class="form__btn"><button type="submit" class="btn">Submit</button></div>
				</form>
			</div>
		</div>
	</section>
	<!-- END contact -->

{% endblock %}
