<!-- BEGIN contact -->
<section class="contact" data-section="contact">
	<div class="contact__in inner">
		<h2 class="title wow fadeInDown" data-wow-duration="2s">Contact us</h2>
		<div class="form">
			<form action="/" method="post" class="js-contact-form">
				<div class="form__row wow fadeInLeft" data-wow-duration="1.5s" data-wow-delay="0.4s">
					<input type="text" name="name_contact" class="input" placeholder="Your Name">
				</div>
				<div class="form__row wow fadeInRight" data-wow-duration="1.5s" data-wow-delay="0.4s">
					<input type="text" name="email_contact" class="input" placeholder="Email">
				</div>
				<div class="form__row wow fadeInLeft" data-wow-duration="1.5s" data-wow-delay="0.4s">
					<input type="text" name="phone_contact" class="input" placeholder="Phone">
				</div>
				<div class="form__btn wow fadeInUp" data-wow-duration="1.5s" data-wow-delay="0.6s">
					<button type="submit" class="btn-default">Submit</button>
				</div>
			</form>
		</div>
	</div>
</section>
<!-- END contact -->