<!-- BEGIN contact -->
<section class="contact" data-section="contact">
	<div class="contact__in inner">
		<h2 class="title wow fadeInDown" data-wow-duration="2s" data-wow-delay="0.5s">Contact us</h2>
		<div class="form">
			<form action="/" method="post">
				<div class="form__row wow fadeInLeft" data-wow-duration="2s" data-wow-delay="1s">
					<input type="text" class="input" placeholder="Your Name">
				</div>
				<div class="form__row wow fadeInRight" data-wow-duration="2s" data-wow-delay="1.2s">
					<input type="text" class="input" placeholder="Email">
				</div>
				<div class="form__row wow fadeInLeft" data-wow-duration="2s" data-wow-delay="1.4s">
					<input type="text" class="input" placeholder="Phone">
				</div>
				<div class="form__btn wow fadeInUp" data-wow-duration="2s" data-wow-delay="2s">
					<button type="submit" class="btn-default">Submit</button>
				</div>
			</form>
		</div>
	</div>
</section>
<!-- END contact -->