{% macro icon(i) %}
<svg class="icon icon-{{i}}"><use xlink:href="img/sprite.svg#icon-{{i}}"></use></svg>
{% endmacro %}

{% macro svgService(svgName) %}
	{% if svgName === 'provides' %}
		<span class="i-provides"></span>
	{% elif svgName === 'competences' %}
		<span class="i-competences"></span>
	{% elif svgName === 'technical' %}
		<span class="i-technical"></span>
	{% endif %}
{% endmacro %}

{% macro header(options) %}
<!-- BEGIN header -->
<header class="header js-header">
	<div class="header__in inner">
		<a href="/am" class="logo" title="Applied Methods">applead methods</a>
		<nav class="nav">
			{% for item in options.list -%}
				<a href="{{item.linkHref}}" class="nav__link js-nav-link">{{item.linkText}}</a>
			{%- endfor %}
		</nav>
		<div class="lang">
			<span class="lang__current">{{options.dropdown.currentLangText}}<img src="img/{{options.dropdown.currentLangImage}}" width="30" height="20" alt="" /></span>
			<ul class="lang__list">
				<li class="lang__list-item">
					<a href="./{{options.dropdown.langList.langLinkHref}}">{{options.dropdown.langList.langName}}<img src="img/{{options.dropdown.langList.langImage}}" width="30" height="20" alt="" /></a>
				</li>
			</ul>
		</div>
	</div>
</header>
<!-- END header -->
{% endmacro %}
