<!-- BEGIN popup -->
<div class="popup js-popup" data-popup="service-1">
	<button type="button" class="btn-close js-close">close {{mixins.icon('close')}}</button>
  <div class="popup__in">
    <div class="popup__title title">Escalibre provides the following specific capabilities:</div>
    <div class="popup__text">
      Team of analysts and project managers, capable to capture customer requirements (business and technical) and build corresponding technical processes following well known practices of Agile (Scrum, XP, Lean) and more formal processes (RUP, ITIL), which allow to reach project goals (business and technical) with a maximum of transparency, productivity and quality.<br><br>

      Dedicated manageable team of software engineers, which exactly match project needs in skills and manpower.<br><br>

      Teams of QA engineers who enable quality driven development practices from the very beginning of any project.<br><br>

      Full-scale project documentation covering all stages from project inception till acceptance testing on customer side in all aspects of the project (planning, budgeting, technical specifications, reports).<br><br>

      Version control and regular deliveries of intermediate results including produced source code.
    </div>
  </div>
</div>
<!-- END popup -->

<!-- BEGIN popup -->
<div class="popup js-popup" data-popup="service-2">
	<button type="button" class="btn-close js-close">close {{mixins.icon('close')}}</button>
  <div class="popup__in">
    <div class="popup__title title">Key competences of Escalibre in software development are the following:</div>
    <div class="popup__text">
      Web and desktop applications development for Windows and Unix environments using a wide range of technologies and tools available on the market: Java, PHP/Python, .Net, DHTML/AJAX<br><br>

      Mobile applications development including dedicated mobile features like NFC, GPS, IR, messaging<br><br>

      Data collecting, processing (ETL/OLAP/OLTP), analysis and presentation (BI, custom reporting) based on major commercial and open-source DBMSs like MS-SQL Server, Oracle Server, PostgreSQL, MySQL and so on<br><br>

      Distributed systems development (messaging hubs, events and workflows management systems, communication buses)<br><br>

      Development of SOAP and RESTful Web services<br><br>

      Development of infrastructure software (data feeders, converters, OS scripts)<br><br>

      Programming on communication protocol level, custom and well known format parsers development (imaging, documenting)
    </div>
  </div>
</div>
<!-- END popup -->

<!-- BEGIN popup -->
<div class="popup js-popup" data-popup="service-3">
	<button type="button" class="btn-close js-close">close {{mixins.icon('close')}}</button>
  <div class="popup__in">
    <div class="popup__title title">Our core technical competences are:</div>
    <div class="popup__text">
      
      Architecture consulting (service orchestration, microservices and domain-driven design, SOA, event sourcing, n-tiered platforms)<br><br>

      Apache Solr consulting and development<br><br>

      NLP and text-mining using GATE and AlchemyAPI<br><br>

      Company intranet portals using Apache Liferay<br><br>

      Enterprise content editing using Alfresco<br><br>

      E-Commerce enterprise solutions (Online Shops, Auctions, Dating, Comparison portals, Social Networks)<br><br>

      Payment systems integration<br><br>

      Continuous Integration and continuous Delivery and DevOps using Docker, Puppet, Ansible and Chef, Jenkins, GitLab for AWS, Digital Ocean and CloudForge<br><br>

      Enterprise integration using ESB platforms using FuseESB<br><br>

      Application servers consulting (JBoss, Glassfish, Payara)<br><br>

      Information systems development for insurance and credit branches<br><br>

      ERP systems development<br><br>

      Rich internet applications using (JSF, Angularjs, JQUery, Bootstrap)<br><br>

      System monitoring and optimization<br><br>

      Agile project management using Scrum, Kanban and XP practices<br><br>

      Requirements engineering and clarification<br><br>

      J2EE and Spring development<br><br>

      Offshore and Onshore team management and collaboration
    </div>
  </div>
</div>
<!-- END popup -->

<!-- BEGIN popup -->
<div class="popup js-popup" data-popup="company">
  <button type="button" class="btn-close js-close">close {{mixins.icon('close')}}</button>
  <div class="popup__in">
    <div class="popup__title title">Company</div>
    <div class="popup__text">
      Escalibre LLC was founded in 2016. We are a software development company with offices in Ukraine (Kyiv) and Germany (Munich).<br><br>

      We specialize in creating high-quality enterprise systems, requirements engineering and technical consulting. Our services also include Application Development, Maintenance and Quality Assurance services to its clients for custom projects or in a team augmentation business model.<br><br>

      Our team members are professionals with a strong background in programming, IT-management, product design and business analysis.<br><br>

      Either you are a small startup or a big company, be sure that you will receive an individual approach in solving your tasks—from pre project consultations to further support and development of your product.
    </div>
  </div>
</div>
<!-- END popup -->