<!-- BEGIN products -->
<section class="products" data-section="products">
	<div class="inner">
		<h2 class="title wow fadeInDown" data-wow-duration="1.2s" data-wow-delay="0.2">Products</h2>
		<div class="products-list">
			<div class="products-list__item p-item wow fadeInDown" data-wow-duration="2s" data-wow-duration="0.4s">
				<div class="p-item__title">Taber</div>
				<div class="p-item__txt">
					Document recognition and content extraction <br> solution to detect and recognize(for detecting <br> and recognizing) Tables.
				</div>
			</div>
			<div class="products-list__item p-item wow fadeInUp" data-wow-duration="2s" data-wow-duration="0.4s">
				<div class="p-item__title">Katran</div>
				<div class="p-item__txt">
					Web crawler solution and processing NLP <br> pipelines, AngularJs and ReactJs <br> crawling support
				</div>
			</div>
		</div>
	</div>
</section>
<!-- END products -->