<!-- BEGIN products -->
<section class="products" data-section="products">
	<div class="inner">
		<h2 class="title wow fadeInDown" data-wow-duration="2s" data-wow-delay="0.3s">Products</h2>
		<div class="products-list">
			<div class="products-list__item p-item wow fadeInDown" data-wow-duration="3s" data-wow-delay="1s">
				<div class="p-item__title">Taber</div>
				<div class="p-item__txt">
					Document recognition and content extraction solution to detect and recognize(for detecting and recognizing) Tables. Taber uses OCR and Images from PDF (files), and converts them to formatted text (RTF, HTML); Detects tables in manual or automatic mode.
				</div>
			</div>
			<div class="products-list__item p-item wow fadeInUp" data-wow-duration="3s" data-wow-delay="1s">
				<div class="p-item__title">Katran</div>
				<div class="p-item__txt">
					Web crawler solution and processing NLP <br> pipelines, AngularJs and ReactJs <br> crawling support
				</div>
			</div>
		</div>
	</div>
</section>
<!-- END products -->