<!-- BEGIN services -->
<section class="services" data-section="services">
	<div class="services__in inner">
		<h2 class="title wow fadeInDown" data-wow-duration="2s">Services</h2>
		<div class="services-list">
			<div class="services-list__item s-item wow fadeIn" data-wow-duration="1.2s" data-wow-delay="0.4s">
				<div class="s-item__ico">
					{{mixins.svgService("provides")}}
				</div>
				<div class="s-item__title">
					Escalibre provides the <br> following specific <br> capabilities:
				</div>
				<div class="s-item__txt">
					Dedicated manageable team of software engineers, which exactly match project needs in skills and manpower.
				</div>
			</div>
			<div class="services-list__item s-item wow fadeIn" data-wow-duration="1.2s" data-wow-delay="0.4s">
				<div class="s-item__ico">
					{{mixins.svgService("competences")}}
				</div>
				<div class="s-item__title">
					Key competences of Escalibre <br> in software development are <br> the following:
				</div>
				<div class="s-item__txt">
					Mobile applications development including dedicated mobile <br> features like NFC, GPS, IR, <br> messaging
				</div>
			</div>
			<div class="services-list__item s-item wow fadeIn" data-wow-duration="1.2s" data-wow-delay="0.4s">
				<div class="s-item__ico">
					{{mixins.svgService('technical')}}
				</div>
				<div class="s-item__title">
					Our core technical <br> competences are:
				</div>
				<div class="s-item__txt">
					Architecture consulting (service orchestration, microservices and domain-driven design, SOA, event sourcing, n-tiered platforms)
				</div>
			</div>
		</div>
	</div>
</section>
<!-- END services -->