<!-- BEGIN services -->
<section class="services" data-section="services">
	<div class="services__in inner">
		<h2 class="title wow fadeInDown" data-wow-duration="2s" data-wow-delay="0.5s">Services</h2>

		<!-- BEGIN services-cont -->
		<div class="services-cont">
			<div class="services-cont__top wow fadeInUp" data-wow-duration="2s" data-wow-delay="1s">
				Escalibre is a reliable IT partner in development of business critical IT solutions with a primary focus on software and related IT infrastructure. To deliver solutions, which are capable of increasing the effectiveness of corporate IT infrastructure, Escalibre provides the following services:
			</div>
			<div class="services-cont__body">
				<ul class="services-cont__list">
					<li class="services-cont__list-item">IT Solutions Engineering & Design</li>
					<li class="services-cont__list-item">Custom Software Development</li>
					<li class="services-cont__list-item">IT Team Augmentation</li>
					<li class="services-cont__list-item">Software Quality Assurance</li>
				</ul>
				<div class="services-cont__bottom">
					Support and maintenance of IT products and related infrastructure
					We speak the same language like our customers and are always focused on customer requirements. That’s why Escalibre is effective in collaboration both with business as well as technology stakeholders. Escalibre flexibly adapts its development processes to customer requirements.
				</div>
			</div>

			<a href="#" class="services-cont__more btn-more js-btn-more wow fadeInUp" data-wow-duration="2s" data-wow-delay="1.5s" data-text="Read less">Read more</a>
		</div>
		<!-- END services-cont -->

		<div class="services-list">
			<div class="services-list__item s-item wow fadeIn js-open-popup" data-link="service-1" data-wow-duration="2s" data-wow-delay="2s">
				<div class="s-item__ico">
					{{mixins.svgService("provides")}}
				</div>
				<div class="s-item__title">
					Escalibre provides the <br> following specific <br> capabilities:
				</div>
				<div class="s-item__txt">
					Dedicated manageable team of software engineers, which exactly match project needs in skills and manpower.
				</div>
			</div>
			<div class="services-list__item s-item wow fadeIn js-open-popup" data-link="service-2" data-wow-duration="1.2s" data-wow-delay="2.4s">
				<div class="s-item__ico">
					{{mixins.svgService("competences")}}
				</div>
				<div class="s-item__title">
					Key competences of Escalibre <br> in software development are <br> the following:
				</div>
				<div class="s-item__txt">
					Mobile applications development including dedicated mobile <br> features like NFC, GPS, IR, <br> messaging
				</div>
			</div>
			<div class="services-list__item s-item wow fadeIn js-open-popup" data-link="service-3" data-wow-duration="1.2s" data-wow-delay="2.8s">
				<div class="s-item__ico">
					{{mixins.svgService('technical')}}
				</div>
				<div class="s-item__title">
					Our core technical <br> competences are:
				</div>
				<div class="s-item__txt">
					Architecture consulting (service orchestration, microservices and domain-driven design, SOA, event sourcing, n-tiered platforms)
				</div>
			</div>
		</div>

		<!-- BEGIN popup -->
		<div class="popup js-popup" data-popup="service-1">
			<button type="button" class="btn-close js-close">close {{mixins.icon('close')}}</button>
		  <div class="popup__in">
		    <div class="popup__title title">Escalibre provides the following specific capabilities:</div>
		    <div class="popup__text">
		      Team of analysts and project managers, capable to capture customer requirements (business and technical) and build corresponding technical processes following well known practices of Agile (Scrum, XP, Lean) and more formal processes (RUP, ITIL), which allow to reach project goals (business and technical) with a maximum of transparency, productivity and quality.<br><br>

		      Dedicated manageable team of software engineers, which exactly match project needs in skills and manpower.<br><br>

		      Teams of QA engineers who enable quality driven development practices from the very beginning of any project.<br><br>

		      Full-scale project documentation covering all stages from project inception till acceptance testing on customer side in all aspects of the project (planning, budgeting, technical specifications, reports).<br><br>

		      Version control and regular deliveries of intermediate results including produced source code.
		    </div>
		  </div>
		</div>
		<!-- END popup -->

		<!-- BEGIN popup -->
		<div class="popup js-popup" data-popup="service-2">
			<button type="button" class="btn-close js-close">close {{mixins.icon('close')}}</button>
		  <div class="popup__in">
		    <div class="popup__title title">Key competences of Escalibre in software development are the following:</div>
		    <div class="popup__text">
		      Web and desktop applications development for Windows and Unix environments using a wide range of technologies and tools available on the market: Java, PHP/Python, .Net, DHTML/AJAX<br><br>

		      Mobile applications development including dedicated mobile features like NFC, GPS, IR, messaging<br><br>

		      Data collecting, processing (ETL/OLAP/OLTP), analysis and presentation (BI, custom reporting) based on major commercial and open-source DBMSs like MS-SQL Server, Oracle Server, PostgreSQL, MySQL and so on<br><br>

		      Distributed systems development (messaging hubs, events and workflows management systems, communication buses)<br><br>

		      Development of SOAP and RESTful Web services<br><br>

		      Development of infrastructure software (data feeders, converters, OS scripts)<br><br>

		      Programming on communication protocol level, custom and well known format parsers development (imaging, documenting)
		    </div>
		  </div>
		</div>
		<!-- END popup -->

		<!-- BEGIN popup -->
		<div class="popup js-popup" data-popup="service-3">
			<button type="button" class="btn-close js-close">close {{mixins.icon('close')}}</button>
		  <div class="popup__in">
		    <div class="popup__title title">Our core technical competences are:</div>
		    <div class="popup__text">
		      
		      Architecture consulting (service orchestration, microservices and domain-driven design, SOA, event sourcing, n-tiered platforms)<br><br>

		      Apache Solr consulting and development<br><br>

		      NLP and text-mining using GATE and AlchemyAPI<br><br>

		      Company intranet portals using Apache Liferay<br><br>

		      Enterprise content editing using Alfresco<br><br>

		      E-Commerce enterprise solutions (Online Shops, Auctions, Dating, Comparison portals, Social Networks)<br><br>

		      Payment systems integration<br><br>

		      Continuous Integration and continuous Delivery and DevOps using Docker, Puppet, Ansible and Chef, Jenkins, GitLab for AWS, Digital Ocean and CloudForge<br><br>

		      Enterprise integration using ESB platforms using FuseESB<br><br>

		      Application servers consulting (JBoss, Glassfish, Payara)<br><br>

		      Information systems development for insurance and credit branches<br><br>

		      ERP systems development<br><br>

		      Rich internet applications using (JSF, Angularjs, JQUery, Bootstrap)<br><br>

		      System monitoring and optimization<br><br>

		      Agile project management using Scrum, Kanban and XP practices<br><br>

		      Requirements engineering and clarification<br><br>

		      J2EE and Spring development<br><br>

		      Offshore and Onshore team management and collaboration
		    </div>
		  </div>
		</div>
		<!-- END popup -->
	</div>
</section>
<!-- END services -->