<!-- BEGIN top -->
<section class="top" data-section="top">

	{# Start header #}

	{% set config = {
		dropdown: {
			currentLangText: 'Gbr',
			currentLangImage: 'gbr.svg',
			langList: {
					langLinkHref: 'about-us-de.html',
					langName: 'De',
					langImage: 'de.svg'
				}
		},
		list: [
			{
				linkHref: './index-en.html#services',
				linkText: 'Services'
			},
			{
				linkHref: './index-en.html#products',
				linkText: 'Products'
			},
			{
				linkHref: '#about',
				linkText: 'Legal notice'
			},
			{
				linkHref: './index-en.html#contact',
				linkText: 'Contact us'
			}
		]
	}%}

	{{mixins.header(config)}}

	{# END header #}

	
	<div class="top__in inner">
		
		<!-- BEGIN top-content -->
		<div class="top-content">
			<h1 class="top-content__title title wow fadeInUp" data-wow-duration="2s">
				Legal Notice
			</h1>
			<div class="top-content__scroll-btn wow fadeInDown" data-wow-duration="2s" data-wow-delay="0.2s">
				<a href="#about" class="btn-scroll btn-scroll_position js-btn-scroll" title="Scroll to bottom">
					<span class="btn-scroll__ico">Scroll to bottom</span>
				</a>
			</div>
		</div>
		<!-- END top-content -->
	</div>

	<!-- BEGIN particles-js -->
	<div id="particles-js"></div>
	<!-- END particles-js -->

</section>
<!-- END top -->